@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

$background: #f7f7f7;
$primary: #dc740b;
$secondary: rgb(244, 202, 152);
$dark: #1e1104;
$dark-transparent-95: rgba(30, 17, 4, 0.95);
$dark-transparent-75: rgba(30, 17, 4, 0.75);
$dark-transparent-5: rgba(30, 17, 4, 0.5);
$dark-transparent-4: rgba(30, 17, 4, 0.4);
$dark-transparent-3: rgba(30, 17, 4, 0.3);

html {
  font-family: 'Roboto Mono', monospace;
  -webkit-text-fill-color: $dark;
}

h1,
h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
  font-size: 16px;
}

p {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
}

ul {
  padding-left: 32px;
}

li {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

.v-btn {
  height: auto !important;
}

.v-divider {
  color: $dark;
  border-right-width: 2px;
}

.v-card {
  border-radius: 0px;
}

.v-btn {
  border-radius: 0px !important;
  text-transform: none !important;
  padding: 8px !important;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  // transform: translateY(64px);
  transform: scale(0.8);
}

// .fade-enter-active,
// .fade-leave-active {
//   transition: all 0.2s ease;
// }

// .fade-enter-from,
// .fade-leave-to {
//   opacity: 0;
// }

.slide-fade-enter-active {
  transition: all 0.6s ease;
}

.slide-fade-leave-active {
  transition: all 0.2s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
  // transform: translateY(64px);
  transform: scale(0.8);
}

::-webkit-scrollbar {
  width: 8px;
  background: rgba(0, 0, 0, 0.1);
  height: 11px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 5px;
}

.custom-tooltip {
  background-color: $background !important;
  -webkit-text-fill-color: $dark-transparent-75 !important;
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.25));
}

.dark-transparent-5 {
  -webkit-text-fill-color: $dark-transparent-5 !important;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.page-with-sidebar {
  background: $background;
  display: flex;
  flex-direction: row;
  align-items: center;

  .sidebar-container {
    min-height: 100vh;
    display: flex;

    .sidebar {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      // width: 100%;
      min-width: 360px;
      flex-basis: 0;
      flex-grow: 1;
      padding: 24px 24px;
      transition: all 0.5s ease;

      .portfolio-navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      .v-btn {
        margin-bottom: 16px;
      }
    }

    .socials {
      position: absolute;
      right: 16px;
      top: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      .socials-button-round {
        border-radius: 99px !important;
        height: 42px;
        width: 42px;
        color: $dark-transparent-3;
        -webkit-text-fill-color: $dark-transparent-4 !important;

        &:hover {
          color: $dark-transparent-4;
          -webkit-text-fill-color: $dark-transparent-5 !important;
        }
      }
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 100vh;
    overflow: auto;
    padding: 24px 36px;
  }
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .intro-card {
    width: 560px;
    position: relative;
    border-radius: 0px;

    .intro-card-header-section {
      padding: 16px 24px;
      // background-color: $secondary;
    }

    .intro-card-paragraph-section {
      padding: 16px 24px;
      -webkit-text-fill-color: $dark-transparent-95;
    }

    .homepage-projects-button {
      position: absolute;
      bottom: -72px;
      left: 0px;
      animation: animate-float 1.2s ease-in-out infinite;
      transition: transform 1s;

      &:hover {
        animation: animate-hyper-float 1.2s ease-in-out infinite;
      }
    }
  }
}

@keyframes animate-float {
  0% {
    transform: translateY(-3px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-3px);
  }
}

@keyframes animate-hyper-float {
  0% {
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-2px);
  }
}

.project-page {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  .intro {
    display: flex;
    flex-direction: row;

    .project-card {
      flex: 1.35;

      .card-section {
        &>*:not(:last-child) {
          margin-bottom: 4px;
        }
      }

      &>*:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    .intro-buttons-bar {
      flex: 1;

      &>*:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  .main {
    padding: 4px 36px;

    &>*:not(:last-child) {
      margin-bottom: 24px;
    }
  }


  h2,
  h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 4px;

    a {
      color: $dark;
      cursor: default;
    }
  }

  p {
    margin: 12px 0px;
  }

  li {
    margin: 8px 0px;
  }

  .cover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin-bottom: 28px;

    img {
      object-fit: cover;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 105%;
      height: 105%;
      filter: blur(4px) brightness(0.5);
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: translate(-50%, -50%) scale(1.05);
      }
    }

    .cover-title {
      -webkit-text-fill-color: $background;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.15) 100%);
      padding: 8px 12px;
      backdrop-filter: blur(10px);
    }
  }
}

video {
  object-fit: cover;
}

.cover-video {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.lightbox-container-small {
  display: flex;
  flex-direction: row;
  padding: 24px 0px !important;
  // margin: 16px 0px;
}

.lightbox-image-small-wrapper {
  padding: 0px 6px !important;
}

.lightbox-image-small {
  // flex: 1;
  max-height: 280px;
  // object-fit: contain;
  cursor: zoom-in;
  width: 100%;
  object-fit: cover;

  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.lightbox-overlay {
  z-index: 99;
  // grid-area: image;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  transition: all 0.5s ease;

  .lightbox-image-big {
    display: block;
    max-height: 90vh;
    // object-fit: contain;
  }

  .lightbox-nav {
    --v-icon-size-multiplier: 5 !important;
    width: 120px !important;
    -webkit-text-fill-color: $background;
    // filter: drop-shadow(0px 0px 5px rgba(247, 247, 247, 0.5));
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.25));
  }

  .inactiveIconButton {
    -webkit-text-fill-color: transparent;
    cursor: default;
  }
}