@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

$background: #f7f7f7;
$primary: #dc740b;
$color-secondary: #e6d4a4;
$dark: #1e1104;
$dark-semitransparent: rgba(30, 17, 4, 0.5);

html {
  font-family: 'Roboto Mono', monospace;
  -webkit-text-fill-color: $dark;
}

h1,
h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
  font-size: 16px;
}

p {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

.v-btn {
  height: auto !important;
}

.v-divider {
  color: $dark;
  border-right-width: 2px;
}

.v-card {
  border-radius: 0px;
}

.v-btn {
  border-radius: 0px !important;
  text-transform: none !important;
  padding: 8px !important;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

::-webkit-scrollbar {
  width: 8px;
  background: rgba(0, 0, 0, 0.1);
  height: 11px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 5px;
}

.page-with-sidebar {
  background: $background;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .sidebar-container {
    min-height: 100vh;
    display: flex;

    .sidebar-center {
      transform: translateY(35vh);
    }

    .sidebar {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      max-width: 720px;
      padding: 24px 24px;
      transition: all 0.5s ease;

      .portfolio-navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      .v-btn {
        margin-bottom: 16px;
      }

      .socials {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .v-btn {
          border-radius: 99px !important;
        }
      }
    }
  }

  .main-content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 1000px;
    max-height: 100vh;
    overflow: auto;
    padding: 24px 36px;
  }
}


.project-page {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  .main {
    padding: 4px 36px;

    &>*:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  .intro {
    display: flex;
    flex-direction: row;

    .project-card {
      flex: 1.35;

      .card-section {
        &>*:not(:last-child) {
          margin-bottom: 4px;
        }
      }

      &>*:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    .intro-buttons-bar {
      flex: 1;

      &>*:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  h2,
  h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 12px;

    a {
      color: $dark;
      cursor: default;
    }
  }

  .cover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin-bottom: 28px;

    img {
      object-fit: cover;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 105%;
      height: 105%;
      filter: blur(4px) brightness(0.5);
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: translate(-50%, -50%) scale(1.05);
      }
    }

    .cover-title {
      -webkit-text-fill-color: $background;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.15) 100%);
      padding: 8px 12px;
      backdrop-filter: blur(10px);
    }
  }
}

video {
  object-fit: cover;
}

.cover-video {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.lightbox-container-small {
  display: flex;
  flex-direction: row;
  padding: 24px 0px !important;
  // margin: 16px 0px;
}

.lightbox-image-small-wrapper {
  padding: 0px 6px !important;
}

.lightbox-image-small {
  // flex: 1;
  max-height: 280px;
  // object-fit: contain;
  cursor: zoom-in;
  width: 100%;
  object-fit: cover;

  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.lightbox-overlay {
  z-index: 99;
  // grid-area: image;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  transition: all 0.5s ease;

  .lightbox-image-big {
    display: block;
    max-height: 90vh;
    // object-fit: contain;
  }

  .lightbox-nav {
    --v-icon-size-multiplier: 5 !important;
    width: 120px !important;
    -webkit-text-fill-color: $background;
    // filter: drop-shadow(0px 0px 5px rgba(247, 247, 247, 0.5));
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.25));
  }

  .inactiveIconButton {
    -webkit-text-fill-color: transparent;
    cursor: default;
  }
}