@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

$background: #f7f7f7;
$primary: #dc740b;
$color-secondary: #e6d4a4;
$dark: #1e1104;
$dark-semitransparent: rgba(30, 17, 4, 0.5);

html {
  font-family: 'Roboto Mono', monospace;
  -webkit-text-fill-color: $dark;
}

h1,
h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
  font-size: 16px;
}

p {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

.v-btn {
  height: auto !important;
}

.v-divider {
  color: $dark;
  border-right-width: 2px;
}

.v-card {
  border-radius: 0px;
}

.v-btn {
  border-radius: 0px !important;
  text-transform: none !important;
  padding: 8px !important;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

.page-with-sidebar {
  background: $background;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .sidebar-container {
    min-height: 100vh;
    display: flex;

    .sidebar-center {
      transform: translateY(35vh);
    }

    .sidebar {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      max-width: 720px;
      padding: 24px 24px;
      transition: all 0.5s ease;

      .portfolio-navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      .v-btn {
        margin-bottom: 16px;
      }

      .socials {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .v-btn {
          border-radius: 99px !important;
        }
      }
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 800px;
    max-height: 100vh;
    overflow: auto;
    padding: 24px 36px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background: rgba(0, 0, 0, 0.1);
  height: 11px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 5px;
}


.lightbox-image-small {
  width: 100%;
  object-fit: contain;
  cursor: zoom-in;

  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.lightbox-overlay {
  z-index: 99;
  // grid-area: image;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  transition: all 0.5s ease;

  .lightbox-image-big {
    display: block;
    // object-fit: contain;
  }

  .lightbox-nav {
    --v-icon-size-multiplier: 5 !important;
    width: 120px !important;
    -webkit-text-fill-color: $background;
  }

  .inactiveIconButton {
    -webkit-text-fill-color: transparent;
    cursor: default;
  }
}